<navbar></navbar>
<div class="row">
    <div class="col-sm-2">
        <lateralbar></lateralbar>
    </div>
    <div class="col-sm-7">
        <youtube></youtube>
    </div>
    <div #scroll class="col-sm-3">
        <div id="container" class="d-flex align-items-center flex-column">
            <div id="chat-header" class="d-flex justify-content-center">
                <h2>Chat</h2>
            </div>

            <div id="chat-messages">
                <div *ngFor="let message of listMessages; index as i">
                    <span [class.end]="validateActualUser(i)">{{listUsers[i]}}</span>
                    <div id="chat-message" [class.newcolor]="validateActualUser(i)">
                        <p>{{message}}</p>
                        <small [class.rowend]="validateActualUser(i)">
                            {{listDates[i] | date:'shortTime'}}
                        </small>
                    </div>
                </div>
            </div>
            <div id="button-group" class="mt-auto py-3">
                <div class="input-group">
                    <textarea #inputMessage type="text" class="form-control" aria-label="User input message"
                        aria-describedby="Input textarea for send message" placeholder="Ingrese su mensaje"></textarea>
                    <button class="btn btn-outline-danger" type="button" (pointerdown)="submitMessage()">Enviar</button>
                </div>
            </div>
        </div>
    </div>
</div>

<a id="menu" class="button" aria-label="Menu navigation">
    <img id="menu-img" src="assets/menu.svg" alt="Menu nav for users navigation">
</a>
<a id="logout" class="button" aria-label="Auth login for users" (click)="logout()">Logout</a>

