<navbar></navbar>
<a id="login"
[routerLink]="['/auth/signin']" aria-label="Auth login for users"> Login</a>
<div id="bg">
    <div id="header">
        <h1> REALTIME CHAT</h1>
    </div>
    <img 
    srcset="
         https://i.ibb.co/xmTJmsP/chat-320w.webp 320w,
         https://i.ibb.co/WzGTWs1/chat-375w.webp 375w,
         https://i.ibb.co/Tg1tDGR/chat-425w.webp 425w,
         https://i.ibb.co/m01R46L/chat-768w.webp 768w,
         https://i.ibb.co/JKkHKYM/chat-1024w.webp 1024w,
         https://i.ibb.co/489FzMk/chat-1440w.webp 1440w,
         https://i.ibb.co/V9RFqkJ/chat-2560w.webp 2560w"
      sizes="(max-width: 320px) 320px,
             (max-width: 375px) 375px,
             (max-width: 425px) 425px,
             (max-width: 768px) 768px,
             (max-width: 1024px) 1024px,
             (max-width: 1440px) 1440px,
             (max-width: 2560px) 2560px,
             1024px"
      src="https://i.ibb.co/JKkHKYM/chat-1024w.webp"
      alt="background developer image">
</div>