<navbar></navbar>

<h1>Sign in to Coogle</h1>
<div id="content">
    <form [formGroup]="signinForm" (ngSubmit)="sendSignin()">
        <div class="pt-4">
            <div class="d-flex justify-content-center pb-3">
                <input
                formControlName="username" 
                class="form-control"
                type="text" 
                placeholder="Username"
                [ngClass]="{
                    'is-invalid': getInputUsername?.invalid,
                    'is-valid': getInputUsername?.valid}">
            </div>
            <div class="d-flex justify-content-center pb-2">
                <input 
                formControlName="password" 
                class="form-control" 
                type="password" 
                placeholder="Password"
                [ngClass]="{
                    'is-invalid': getInputPassword?.invalid,
                    'is-valid': getInputPassword?.valid}">
            </div>
            <small *ngIf="this.signinForm.invalid"
                class="d-flex justify-content-center">El nombre de usuario y la contraseña deben tener 4-20
                carácteres, letras, números y/o espacios.</small>
        </div>
        <div class="d-flex justify-content-center py-4">
            <button type="submit" [disabled]="!this.signinForm.valid" class="btn btn-danger">Login</button>
        </div>
        <a [routerLink]="['/auth/signup']"><span class="py-3">Create account</span></a>
        <a href=""><span class="pb-4">Forgot password?</span></a>
    </form>
</div>
<div class="alert alert-danger d-flex justify-content-center mt-3" role="alert" *ngIf="hasError" >
    {{errorMessage}}{{timing()}}
</div>